@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(45deg,#734916, #A6855D);
    }

    section#login{
        width: 90vw;
        height: 310px;
    }

    section#login > div#imagen{
        background-position: center center;
        float: left;
        height: 100%;
        width: 35%;
    }

    section#login > div#formulario{
        float: right;
        width: 65%;
    }

    div#formulario p{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 992px) {
    section#login{
        width: 900px;
        height: 330px;
    }

    section#login > div#imagen{
        background-size: cover;
        background-position: left center;
        float: right;
        width: 43%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 57%;
    }

    div#formulario p{
        font-size: 1.3em;
    }
}